<h1 class="mb-3">みんなの投稿</h1>

<p>----------景色----------<p>
<%= render partial: 'content', locals: { contents: @contents } %>
<p>----------お店----------<p>
<%= render partial: 'shops/content', locals: { contents: @shops } %>

