
<ul class="list-group list-group-flush">
      <li class="list-group-item">
            <p>ユーザー名：<%= comment.name %></p>
            <p><%= simple_format(comment.comment) %></p>
            <p class="float-right"><%= comment.created_at.to_s(:datetime_jp) %></p>
      </li>
</ul>

